.left-content{
    background-color: white;
    height: auto;
    width: auto;
    padding: 0px;
    margin: 0px;
    padding: 24px;
    margin-right: 12px;
}
.right-content{
    background-color: white;
    height: auto;
    width: auto;
    padding: 0px;
    margin: 0px;
    padding: 24px;
    margin-left: 12px;
}

.title{
    font-size: 19px;
  
}
.text{
 font-size: 12px;   
}
.column{
    padding: 0px;
    margin: 0px;
}
.left-text{
    font-size: 12px;
    font-family: Arial rounded MT;
    color: #95989A;
}
.right-text{
    font-size: 12px;
    font-family: Arial rounded MT;
    color: #313131;
}
.desc{
    padding-top: 12px;
}