
.change-password{
    margin: auto;
    width: 50%;
    .tombol{
        background-color: #0079C2;
        float: right;
        color: white;
        border-radius: 6px;
        width: 268px;
        height: 40px;
    }
    .text{
        color: #95989A;
        font-family: Arial Rounded MT;
    }

}
