.informasi-detail {
    .cardBencanaLeft {
        border-radius: 10px;
        clear: both;
        padding: 24px;
        margin-bottom: 10px;
    }
  
    .title-map {
       
        font-weight: bold; 
        font-size: 24px; 
        text-align: center;
        border-bottom: 10px;
        padding-bottom: 28px;
        border-bottom: 1px solid #D3D3D3;
     }
    .tab {
        background-color: #f2f2f4;
    }
}
